.Block
	margin: 20px 10px
	padding: 20px
	border: 1px solid #aea6a6
	border-radius: 3px
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14)
	background-color: #fff

	.content_text_header
		color: #ff7301
		font-size: 130%
		line-height: 1.5
		font-family: 'Roboto Medium',sans-serif,Arial,Tahoma,Verdana
		margin-bottom: 10px

	.attention_text
		line-height: 1.5
		font-family: 'Roboto Medium',sans-serif,Arial,Tahoma,Verdana
		font-size: 110%	

@media screen and (max-width: 348px)
	.Block
		margin: 20px 0px !important
		